<body>
  <div class="row" style="background-color: slategray; padding-top: 20px">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Message Verisi</b></label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
          (keyup)="onkeyMesaj($event)"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Type Verisi</b></label
        >
        <form action="">
          <div ngbDropdown class="dropdown">
            <button
              ngbDropdownToggle
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown button
            </button>
            <ul ngbDropdownMenu class="dropdown-menu">
              <div *ngFor="let typeveri of types">
                <li>
                  <a
                    (click)="onkeyType(typeveri)"
                    ngbDropdownItem
                    class="dropdown-item"
                    >{{ typeveri }}</a
                  >
                </li>
              </div>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Timestamp Verisi</b></label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
          (keyup)="onkeytimez($event)"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Description Verisi</b></label
        >
        <form action="">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Flight_id Verisi</b></label
        >
        <form action="">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div style="text-align: center">
      <button style="margin-bottom: 10px" type="button" class="btn btn-primary">
        Sonuçlar
      </button>
    </div>
  </div>

  <div style="background-color: rgb(232, 234, 246)">
    <div class="container">
      <div class="row">
        <h2 style="color: midnightblue"><i>ARAMA SONUCU ÇIKAN SONUÇLAR</i></h2>
        <br />
        <br />
        <br />

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Message</th>
                <th scope="col">Type</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Description</th>
                <th scope="col">Flight_id</th>
              </tr>
            </thead>
            <!--dongu tbody ye yazılmalıdır kı tr dongude olsun-->
            <tbody>
              <tr *ngFor="let veri of dataSee">
                <td>{{ veri.message }}</td>
                <td>{{ veri.type }}</td>
                <td>{{ veri.timestamp }}</td>
                <td>{{ veri.description }}</td>
                <td>{{ veri.flight_id }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
