<body>
  <div class="row" style="background-color: lightcyan; padding-top: 20px">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Message Verisi</b></label
        >
        <form action="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Type Verisi</b></label
        >
        <form action="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Timestamp Verisi</b></label
        >
        <form action="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Description Verisi</b></label
        >
        <form action="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><b>Aranan Flight_id Verisi</b></label
        >
        <form action="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            value="Hepsi"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div style="text-align: center">
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
  </div>

  <div style="margin-top: 20px">
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="text-align: center">
          <h3>SONUÇ</h3>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</body>
