<body>
  <div class="row" style="margin-top: 50px; background-color: lightsteelblue">
    <div class="col-lg-1"></div>

    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Aranan Message Verisi</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Aranan Type Verisi</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Aranan Timestamp Verisi</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Aranan Description Verisi</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Aranan Flight_id Verisi</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          value="Hepsi"
        />
      </div>
    </div>

    <div class="col-lg-1"></div>
  </div>

  <div>sonuclar burda olacak bakalım olacakmı</div>
</body>
